[submodule "plugins/redmine_omniauth_github"]
	path = plugins/redmine_omniauth_github
	url = https://github.com/ares/redmine_omniauth_github.git
[submodule "plugins/redmine_ruby_code"]
	path = plugins/redmine_ruby_code
	url = https://github.com/ares/redmine_ruby_code.git
[submodule "plugins/redmine_vote"]
	path = plugins/redmine_vote
	url = https://github.com/ares/redmine_vote.git
[submodule "plugins/redmine_lightbox2"]
	path = plugins/redmine_lightbox2
	url = https://github.com/paginagmbh/redmine_lightbox2.git
	branch = redmine-2.6
[submodule "plugins/redmine_issue_field_visibility"]
	path = plugins/redmine_issue_field_visibility
	url = https://github.com/planio-gmbh/redmine_issue_field_visibility
